body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0; /* Remove default margins from body */
    height: 100vh; /* Full viewport height */
    display: flex; /* Use flexbox for centering */
    align-items: center; /* Vertical centering */
    justify-content: center; /* Horizontal centering */
    font-size: xx-large;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: url('./resources/home-page_wallpaper.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background: rgba(255, 255, 255, 0.777); /*White background with 80% opacity*/
    border-radius: 25px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
    padding: 50px; /* Space inside the card */
    margin: 20px; /* Space outside the card */
    max-width: 850px; /* Optional: limit card width */
    text-align: center; /* Center text inside the card */
    backdrop-filter: blur(10px); /* Apply blur effect */
    color: #510c0c; /* Dark text color for good readability */
}

button {
    background-color: #510c0c; /* Button background color */
    border: none; /* Remove default border */
    border-radius: 4px; /* Rounded corners */
    color: white; /* Text color */
    padding: 10px 20px; /* Space inside the button */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 25px; /* Font size */
}

button:hover {
    background-color: #5a2727; /* Darker background on hover */
}